.tutorial {
	width: 80%;
	margin: 1rem auto;
	img {
		width: 80% !important;
		margin: 3rem 10% !important;
		height: 50% !important;
	}
}
.visualizer {
}
.btnGroup {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem !important;
}
.inputGroup {
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 70%;
	margin: 3rem auto !important;
	flex-basis: 2rem;
}
.textArea {
	opacity: 0;
}

@media screen and (max-width: 500px) {
	.btnGroup {
		width: 50%;
		margin: 4rem auto !important;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.inputGroup {
		width: 90% !important;
	}
}
.box {
	margin: 10px;
	width: 75px;
	height: 75px;
	border: 2px solid rgb(104, 104, 104);
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
.blue {
	margin: 10px;
	background-color: #ffec99;
	width: 75px;
	height: 75px;
	border: 0;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
.green {
	margin: 10px;
	background-color: #63e6be;
	color: #fff !important;
	color: rgb(44, 44, 44);
	width: 75px;
	height: 75px;
	border: 0;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
